@font-face {
    font-family: 'Avigea';
    font-style: normal;
    font-weight: 3.125rem;
    src: local('Avigea'), url('https://fonts.cdnfonts.com/s/74718/Avigea-6YGKo.woff') format('woff');
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    text-align: left;
    font-size: large;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #134f61;
}

body header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    top: 0;
}

body header img {
    width: 8.8125rem;
    height: 6.3125rem;
    margin: .9375rem;
}

body header article p {
    color: white;
    padding-left: 1rem;
    text-transform: capitalize;
    padding-bottom: 1rem;
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.377);
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1.875rem;
    list-style-type: none;
    gap: 1rem;
    text-align: center;
}

.navBar li a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    display: inline-block;
    position: relative;
}

.navBar li a:hover {
    color: #f1812c;
}

.navBar li a:after {
    content: '';
    position: absolute;
    width: 3rem;
    height: .125rem;
    bottom: 0;
    left: 0;
    background-color: #f1812c;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

.navBar li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.abrirMenu {
    display: none;
}

.cerrarMenu {
    display: none;
}

h1 {
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.377);
    color: #134f61;
    font-family: 'Avigea';
    font-style: normal;
    font-weight: 3.125rem;
    src: local('Avigea'), url('https://fonts.cdnfonts.com/s/74718/Avigea-6YGKo.woff') format('woff');
    font-size: 3.75rem;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: .3125rem;
    width: 50%;
}

.tituloPortada {
    display: flex;
}

.portada {
    background-image: url(../img/fondo.jpg);
    height: 67.5rem;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}

.avigea {
    font-family: 'Avigea';
    font-style: normal;
    src: local('Avigea'), url('https://fonts.cdnfonts.com/s/74718/Avigea-6YGKo.woff') format('woff');
}

span {
    color: #dd3737;
}

.naranja {
    color: #f1812c;
}

.negro {
    color: black;
    font-size: 2rem;
}

.imagenAl100 {
    width: 100%;
    height: 100%;
}

footer {
    background-color: #134f61;
}

footer div h4 {
    color: white;
    background-color: #134f61;
    font-size: 4rem;
    text-align: center;
    text-transform: capitalize;
    padding-top: 1rem;
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.377);
}

.copyRight {
    color: white;
    background-color: #f1812c;
    text-align: center;
    text-transform: capitalize;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.377);
}

.redesSociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    background-color: #134f61;
}

.redesSociales a i {
    font-size: 1.5rem;
    color: white;
}

.botonScroll {
    display: flex;
    justify-content: end;
    padding-top: 1vw;
    padding-right: 3vw;
}

.botonScroll a i {
    color: white;
    background-color: #f1812c;
    padding: 0.25rem;
    border-radius: 1rem;
}

.fondoDesarrollo1 {
    background-image: url(../img/desarrollo-de-marca.jpg);
    background-attachment: fixed;
    height: 67.5rem;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.377);
    color: white;
    font-size: 5rem;
    text-align: center;
    padding-top: 540px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.parrafoDesarrollo1 {
    padding-top: 1rem;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 1rem;
    color: #134f61;
    font-size: 2rem;
    background-color: white;
}

h3 {
    color: #134f61;
    font-size: 5rem;
    padding-top: 1rem;
    padding-left: 22%;
    padding-right: 22%;
    padding-bottom: 1rem;
    background-color: white;
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.377);
}

.parrafoDesarrollo2 {
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
    gap: 3rem;
}

.fotoArticulo1 {
    width: 25rem;
    border-radius: 5rem;
    align-content: flex-start;
}

.area1 {
    display: grid;
    background-color: #D9D9D9;
    color: white;
    font-size: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "area1 area1 area2 area2"
    "area1 area1 area3 area3"
    ". area4 area4 ."
    ". area5 area5 ."
    ;
}

.tituloGrid2 {
    grid-area: area1;
    color: #134f61;
    font-size: 3rem;
    text-align: left;
    text-transform: capitalize;
    font-family: 'Avigea';
    font-style: normal;
    font-weight: 3.125rem;
    src: local('Avigea'), url('https://fonts.cdnfonts.com/s/74718/Avigea-6YGKo.woff') format('woff');
    justify-self: center;
    align-self: center;
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.377);
}

.area2 {
    grid-area: area2;
    color: white;
    background-color: #f1812c;
    margin: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 1rem;
    border-radius: 1rem;
}

.area2:hover {
    box-shadow: 2px 1px 5px black;
}

.area3 {
    grid-area: area3;
    background-color: #dd3737;
    margin: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 1rem;
    border-radius: 1rem;
}

.area3:hover {
    box-shadow: 2px 1px 5px black;
}

.area4 {
    grid-area: area4;
    background-color: #f1812c;
    margin: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 1rem;
    border-radius: 1rem;
}

.area4:hover {
    box-shadow: 2px 1px 5px black;
}

.area5 {
    grid-area: area5;
    background-color: #dd3737;
    margin: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 1rem;
    border-radius: 1rem;
}

.area5:hover {
    box-shadow: 2px 1px 5px black;
}

.areaGrid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "zona1 zona2"
    "zona1 zona3"
    "zona1 zona3";
}

.areaGrid2 img {
    grid-area: zona1;
    justify-self: center;
    align-self: center;
}

.areaGrid2 h4 {
    grid-area: zona2;
    color: white;
    font-size: 4rem;
    justify-self: flex-start;
    align-self: flex-end;
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.377);
}

.areaGrid2 p {
    grid-area: zona3;
    color: white;
    font-size: 1rem;
    justify-content: center;
    align-self: center;
    padding: 4rem;
    margin-right: 8rem;
    border-style: solid;
    border-color: white;
    border-radius: 4rem;
}

.quienesSomos {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 1rem;
    background-color: #D9D9D9;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

.quienesSomos img {
    width: 50vw;
}

.quienesSomos p {
    padding: 0rem;
}

.fondoManejo1 {
    background-image: url(../img/manejo-de-redes.jpg);
    background-attachment: fixed;
    height: 67.5rem;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}

.parrafoManejo {
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    align-items: center;
    text-align: left;
    padding: 4rem;
}

.parrafoManejo img {
    width: 50vw;
    padding: 8rem;
}

.gridManejo1 {
    display: grid;
    width: 100%;
    height: 100vh;
    background-color: #D9D9D9;
    font-size: 1rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 16px;
    color: white;
    align-items: center;
    grid-template-areas: 
    "area1 area1 area1 area2 area2 ."
    "area1 area1 area1 area2 area2 ."
    "area1 area1 area1 area3 area3 ."
    "area1 area1 area1 area3 area3 ."
    ". . area4 area4 . ."
    ". . area4 area4 . ."
    ". . area5 area5 . ."
    ". . area5 area5 . ."
    ;
}

.prueba {
    grid-area: area1;
}

.gridM1 {
    grid-area: area2;
    background-color: #dd3737;
    padding: 1rem;
    border-radius: 1.75rem;
    margin-top: 1rem;
}

.gridM1:hover {
    box-shadow: 2px 1px 5px black;
}

.gridM2 {
    grid-area: area3;
    background-color: #f1812c;
    padding: 1rem;
    border-radius: 1.75rem;
}

.gridM2:hover {
    box-shadow: 2px 1px 5px black;
}

.gridM3 {
    grid-area: area4;
    background-color: #dd3737;
    padding: 1rem;
    border-radius: 1.75rem;
}

.gridM3:hover {
    box-shadow: 2px 1px 5px black;
}

.gridM4 {
    grid-area: area5;
    background-color: #f1812c;
    padding: 1rem;
    border-radius: 1.75rem;
    margin-bottom: 1rem;
}

.gridM4:hover {
    box-shadow: 2px 1px 5px black;
}

.gridManejo2 {
    display: grid;
    width: 100%;
    height: 100vh;
    background-color: #134f61;
    font-size: 1rem;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "area1 area2"
    "area1 area3"
    "area1 area3";
}

.gridManejo2 img {
    grid-area: area1;
    width: 50vw;
    height: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
}

.gridManejo2 h4 {
    grid-area: area2;
    color: white;
    font-size: 4rem;
    justify-self: flex-start;
    align-self: flex-end;
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.377);
}

.gridManejo2 p {
    grid-area: area3;
    color: white;
    font-size: 1rem;
    justify-content: center;
    align-self: center;
    padding: 4rem;
    margin-right: 8rem;
    border-style: solid;
    border-color: white;
    border-radius: 4rem;
}

.hola {
    color: #134f61;
    font-size: 1.5rem;
    font-family: 'Avigea';
    font-style: normal;
    font-weight: 3.125rem;
    src: local('Avigea'), url('https://fonts.cdnfonts.com/s/74718/Avigea-6YGKo.woff') format('woff');
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.171);
}

h5 {
    color: #134f61;
    font-size: 3rem;
    text-align: right;
    padding-top: 1rem;
    padding-left: 25vw;
    padding-right: 25vw;
    padding-bottom: 1rem;
    background-color: white;
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.377);
}

.portadaForm {
    display: flex;
    flex-direction: row;
}

.portadaForm p {
    width: 50vw;
    color: white;
    background-image: url(../img/agenda.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    text-align: right;
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.377);
    padding-right: 1rem;
    padding-top: 1.5rem;
}

.formulario {
    background-color:#f1812c;
    width: 50vw;
    padding: 1rem;
    text-transform: capitalize;

}

.tituloForm {
    color: white;
    font-size: 1.25rem;
    text-indent: .25rem;
    text-align-last: left;
}

.terminosY {
    font-size: .75rem;
    color: white;
    text-decoration: none;
}

.terminosY a {
    color: white;
    text-decoration: none;
}

.controles {
    width: 100%;
    padding: .5rem;
    border: 1px solid color(white);
    border-radius: .25rem;
    border-color: white;
    margin-bottom: .25rem;
    font-size: 16px;
}

.botonEnviar {
    background-color: #dd3737;
    padding: .20rem;
    border-radius: 0.5rem;
}
.tituloGrid2 {
    font-size: 3.5rem;
}
.negro {
    font-size: 2rem;
}
.parrafoManejo img {
    padding: 1rem;
}

@media (max-width:768px) {
    .portada {
        background-image: url(../img/Caro\ Parada.jpg);
        background-position: 30%;
    }
    body header {
        background-color: #134f6175;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: static;
        top: 0;
    }
    body header article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body header article p {
        padding-bottom: 0rem;
    }
    h1 {
        font-size: 3rem;
        width: 70%;
    }
    .tituloPortada {
        justify-content: flex-end;
        text-align: right;
        padding-right: 1rem;
    }
    .parrafoDesarrollo1 {
        font-size: 1rem;
    }
    h3 {
        font-size: 3rem;
    }
    .parrafoDesarrollo2 {
        padding-left: 5%;
        padding-right: 5%;
        gap: 1rem;
        align-items: center;
        font-size: 1rem;
    }
    .fotoArticulo1 {
        width: 45vw;
        padding: 1rem 1rem 2rem 1rem;
    }
    .area1 {
        align-items: center;
    }
    .area2 {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .area3 {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .area4 {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .area5 {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .areaGrid2 img {
        width: 40vw;
    }
    .areaGrid2 h4 {
        font-size: 3rem;
    }
    .areaGrid2 p {
        padding: 2rem;
        margin-right: 1rem;
        border-width: .125rem;
        border-radius: 2.5rem;
    }
    .parrafoManejo {
        font-size: 1rem;
        padding: 2rem;
    }
    .parrafoManejo img {
        padding: 4rem;
    }
    .gridManejo1 {
        font-size: .75rem;
    }
    .tituloGrid2 {
        font-size: 3rem;
    }
    .negro {
        font-size: 2rem;
    }
    .gridManejo2 h4 {
        font-size: 3rem;
    }
    .gridManejo2 p {
        font-size: 1rem;
        padding: 2rem;
        margin-right: 1rem;
        border-radius: 2.5rem;
        border-width: .125rem;
    }
    .quienesSomos {
        flex-direction: row-reverse;
        justify-content: center;
    }
    .quienesSomos img {
        height: auto;
    }
    .quienesSomos p {
        padding: 1rem;
    }
    h5 {
        padding-left: 10%;
        padding-right: 20%;
    }
}

@media (max-width: 490px) {
    .abrirMenu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        color: white;
    }
    .cerrarMenu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        color: white;
    }
    body header {
        flex-direction: row;
        padding-right: 1rem;
    }
    body header article {
        align-items: flex-start;
    }
    nav {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background-color: #134f61;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.466);
        top: 0;
        right: 0;
        bottom: 0;
    }
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    .navBar {
        flex-direction: column;
        align-items: end;
        padding: 1rem;
    }
    h1 {
        width: 100%;
        font-size: 2.5rem;
        margin-right: 0rem;
    }
    h3 {
        font-size: 2rem;
    }
    .area1 {
        height: 120vw;
        font-size: .75rem;
        height: auto;
        grid-template-areas:
        "area1 area1 area2 area2"
        "area1 area1 area3 area3"
        "area4 area4 area4 area4"
        "area5 area5 area5 area5"
        ;
    }
    .area2 {
        border-radius: 1.75rem;
    }
    .area3 {
        border-radius: 1.75rem;
    }
    .area4 {
        margin-left: 4rem;
        margin-right: 4rem;
        border-radius: 1.75rem;
    }
    .area5 {
        margin-left: 4rem;
        margin-right: 4rem;
        border-radius: 1.75rem;
    }
    .negro {
        font-size: 1.5rem;
    }
    .areaGrid2 h4 {
        font-size: 2.5rem;
    }
    .areaGrid2 p {
        padding: 0.75rem;
    }
    .parrafoManejo img {
        padding: 1rem;
    }
    .gridManejo1 {
        gap: .5rem;
        grid-template-areas: 
        "area1 area1 area1 area2 area2 area2"
        "area1 area1 area1 area2 area2 area2"
        "area1 area1 area1 area3 area3 area3"
        "area1 area1 area1 area3 area3 area3"
        ". area4 area4 area4 area4 ."
        ". area4 area4 area4 area4 ."
        ". area5 area5 area5 area5 ."
        ". area5 area5 area5 area5 ."
        ;
    }
    .tituloGrid2 {
        font-size: 2rem;
    }
    .gridM1 {
        margin-right: 1rem;
        padding: 0.75rem;
    }
    .gridM2 {
        margin-right: 1rem;
        padding: 0.75rem;
    }
    .gridManejo2 img {
        width: 40vw;
        height: 70vw;
        padding-left: 0%;
        padding-right: 0%;
        align-self: center;
        justify-self: center;
    }
    .gridManejo2 h4 {
        font-size: 2.5rem;
    }
    .gridManejo2 p {
        padding: .75rem;
    }
    .quienesSomos {
        flex-wrap: wrap;
    }
    .quienesSomos img {
        width: 100%;
    }
    h5 {
        font-size: 2.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .portadaForm {
        flex-wrap: wrap;
    }
    .portadaForm p {
        width: 100vw;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .formulario {
        width: 100vw;
    }
}

@media (max-width:370px) {
    h1 {
        text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.377);
        color: #134f61;
        font-family: 'Avigea';
        font-style: normal;
        font-weight: 3.125rem;
        src: local('Avigea'), url('https://fonts.cdnfonts.com/s/74718/Avigea-6YGKo.woff') format('woff');
        font-size: 1.75rem;
        margin-right: 0%;
        margin-top: 1rem;
        padding: 0%;
        width: 50%;
    }
    .tituloPortada {
        display: flex;
        justify-content: flex-start;
        text-align: left;
        padding-left: 1rem;
    }
    body header {
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: static;
        padding-left: 0rem;
        padding-right: .5rem;
    }
    body header article {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 0rem;
    }
    .portada {
        background-image: url(../img/Caro\ Mobile.jpg);
        background-position: top;
        background-size: contain;
        width: 100vw;
        height: 150vw;
    }
    footer div h4 {
        color: white;
        font-size: 2.5rem;
        text-align: center;
        text-transform: capitalize;
        padding-top: 1rem;
        text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.377);
    }
    .redesSociales a img {
        width: 1rem;
        height: 1rem;
    }
    .copyRight {
        font-size: .75rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .parrafoDesarrollo1 {
        font-size: .75rem;
    }
    .parrafoDesarrollo2 {
        flex-direction: column;
        font-size: .75rem;
    }
    .parrafoDesarrollo2 img {
        padding: 0%;
        border-radius: 2rem;
    }
    .area1 {
        font-size: .5rem;
        align-items: center;
    }
    .area2 {
        margin-right: 0.25rem;
        margin-left: 0.25rem;
        padding: 0.4rem;
        border-radius: .5rem;
    }
    .area3 {
        margin-right: 0.25rem;
        margin-left: 0.25rem;
        padding: 0.4rem;
        border-radius: .5rem;
    }
    .area4 {
        margin-right: 4rem;
        margin-left: 4rem;
        padding: 0.4rem;
        border-radius: .5rem;
    }
    .area5 {
        margin-right: 4rem;
        margin-left: 4rem;
        padding: 0.4rem;
        border-radius: .5rem;
    }
    .areaGrid2 {
        gap: .25rem;
    }
    .areaGrid2 h4 {
        font-size: 2rem;
    }
    .areaGrid2 p {
        font-size: .5rem;
        padding: .75rem;
        margin-right: 0.5rem;
        border-width: .1rem;
        border-radius: 1.5rem;
    }
    .parrafoManejo {
        flex-direction: column;
        font-size: .75rem;
    }
    .parrafoManejo img {
        padding: 1rem;
    }
    .gridManejo1 {
        gap: .25rem;
        align-items: center;
        height: 100vw;
        grid-template-areas: 
        "area1 area1 area1 area2 area2 area2"
        "area1 area1 area1 area2 area2 area2"
        "area1 area1 area1 area3 area3 area3"
        "area1 area1 area1 area3 area3 area3"
        ". area4 area4 area4 . ."
        ". area4 area4 area4 . ."
        ". . area5 area5 area5 ."
        ". . area5 area5 area5 ."
        ;
    }
    .tituloGrid2 {
        font-size: 1.5rem;
        text-align: end;
        padding-right: 0.25rem;
    }
    .negro {
        font-size: 1rem;
    }
    .gridM1 {
        grid-area: area2;
        font-size: .5rem;
        color: white;
        background-color: #dd3737;
        padding: .40rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
        margin-right: .5rem;
    }
    .gridM2 {
        grid-area: area3;
        font-size: .5rem;
        color: white;
        background-color:#f1812c;
        padding: .40rem;
        border-radius: 0.5rem;
        margin-right: .5rem;
    }
    .gridM3 {
        grid-area: area4;
        font-size: .5rem;
        color: white;
        background-color: #dd3737;
        padding: .40rem;
        border-radius: 0.5rem;
    }
    .gridM4 {
        grid-area: area5;
        font-size: .5rem;
        color: white;
        background-color: #f1812c;
        padding: .40rem;
        border-radius: 0.5rem;
        margin-bottom: .5rem;
    }
    .gridManejo2 {
        gap: .25rem;
        height: 100vw;
    }
    .gridManejo2 img {
        width: 40vw;
        height: 70vw;
        padding-left: 0%;
        padding-right: 0%;
        align-self: center;
        justify-self: center;
    }
    .gridManejo2 h4 {
        font-size: 2rem;
    }
    .gridManejo2 p {
        font-size: .5rem;
        padding: 0.75rem;
        margin-right: 0.25rem;
        border-radius: 1rem;
        border-width: 0.1rem;
    }
    h4 {
        font-size: 2rem;
    }
    .quienesSomos {
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 1rem;
        gap: 1rem;
        height: auto;
    }
    .quienesSomos img {
        width: 100vw;
    }
    .quienesSomos p {
        padding: 0.25rem;
        font-size: 1rem;
        text-align: right;
        margin-bottom: 1rem;
    }
    h5 {
        font-size: 1.5rem;
        padding-left: 20vw;
        padding-right: 20vw;
    }
    .portadaForm p {
        width: 100vw;
        padding-bottom: 1rem;
        font-size: .75rem;
    }
    .formulario {
        width: 100vw;
        margin-left: 0%;
        margin-right: 0%;
    }
    .tituloForm {
        font-size: 1rem;
    }
    .controles {
        padding: 0.25rem;
        font-size: .75rem;
    }
    .botonEnviar {
        padding: 0.10rem;
    }
}










