footer {
    background-color: #134f61;
    div {
        h4 {
            font-family: 'avigea';
            color: white;
            background-color: #134f61;
            font-size: 3rem;
            text-align: center;
            text-transform: capitalize;
            padding-top: 1rem;
        }
    }
}

.redesSociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    a {
        i {
            font-size: 1.5rem;
            color: white;
        }
    }
}

.copyRight {
    color: white;
    background-color: #f1812c;
    text-align: center;
    text-transform: capitalize;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.377);
    a {
        i {
            color: white;
            font-size: 1.25rem;
        }
    }
}