header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    top: 0;
    article {
        img {
            width: 8.8125rem;
            height: 6.3125rem;
            margin: .9375rem;
        }
        p {
            color: white;
            padding-left: 1rem;
            text-transform: capitalize;
            padding-bottom: 1rem;
            text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.377);
        }
    }
}
